.logo {
    text-align: center;
}

.logo a img {
    width: 250px;
    height: auto;
}
  
.titre_principal h1 {
    color: white;
    background-color: #057CAD;
    text-align: center;
    padding: 10px;
}

ul { 
    margin:0;
    padding:0;
    list-style-type:none; 
}
    
.premier-tour a {
    margin:5px;
    padding: 10px;
    background-color: #057CAD;
    display:block;
    color:white;
    text-decoration:none;
}

.premier-tour a:hover {
    background-color: white;
    color:black;
}

.second-tour a {
    margin:5px;
    padding: 10px;
    background-color: #057CAD;
    display:block;
    color:white;
    text-decoration:none;
}

.second-tour a:hover {
    background-color: white;
    color:black;
}

h2 {
    padding: 10px;
    color: #333;
    font-family: Raleway,RobotoBold,Roboto-Bold,Roboto Bold,Roboto,TeXGyreHerosBold,Noto,Noto Sans,Droid Sans,-apple-system-body,-apple-system,HelveticaNeueBold,HelveticaNeue-Bold,Helvetica Neue Bold,HelveticaNeue,Helvetica Neue,SegoeWP,Verdana,Helvetica,Tahoma,Geneva,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2:after {
    display: block;
    content: "";
    width: 60px;
    background: #333;
    border: 2px solid #333;
    margin: .2em 0;
}
  