.logo {
  text-align: center;
}

.logo a img {
  width: 250px;
  height: auto;
}

.titre_principal h1 {
  color: white;
  background-color: #057CAD;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

html,body {
  height:100%;
  margin:0px;
  padding:0px;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next","Avenir","Helvetica Neue",sans-serif;
}

button img {
  width: 25px;
  height: auto;
}

#container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

form {
  display: inline-block;
  justify-content: center;
}

label {
  padding: 5px;
  border-radius: 3px;
  color: #4c4c4c;
}

#select {
    cursor: pointer;
    background-color: #057CAD;
    border: none;
    border-bottom: 2px solid #057CAD;
    color: white;
    appearance: none;
    border: none;
    border-radius: 3px;
}

#multiple {
  cursor: pointer;
  background-color: #057CAD;
  border: none;
  border-bottom: 2px solid #057CAD;
  color: white;
  appearance: none;
  border: none;
  border-radius: 3px;
}

input[type=button] {
    box-sizing: border-box;
    background: #057CAD;
    border-style: none;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;
}